$darkBlack: #000000;
$white: #ffffff;
$black: #333333;
$lightBlue: #006aff;
$darkBlue: #055bd3;
$orange: #fe8b37;
$gray: #b2bbc8;
$red: #fe5f55;

$blueGradient: linear-gradient(265.48deg, $darkBlue 33.12%, $lightBlue 84.7%);
