@import "../../Scss/Variables.scss";

.benefits{
  margin-bottom: 130px;
}

.benefits__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.benefit {
  position: relative;
  padding: 70px 30px;
  padding-bottom: 80px;
  color: $white;
  background-color: $darkBlue;
  border-radius: 5px;
}

.benefit__image{
  position: absolute;
  right: 0;
  bottom: 0;
}

.benefit__heading {
  max-width: 310px;
  margin: 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 50px;
}
